@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'); */
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
  background-color: #f4f7f8;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  padding-top: 100px;
}

.my-navbar-brand {
  color: #3bafda !important;
  font-size: 18px;
}

table {
  width: 100%;
  table-layout: fixed;
}
table td {
  overflow-wrap : break-word;
}
th.wp10 {
  width:10%;
}
th.wp20 {
  width:20%;
}
th.wp30 {
  width:30%;
}
th.wp40 {
  width:40%;
}
td.wp50, th.wp50 {
  width:50%;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}
