@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');

body {
  background-color: #f4f7f8;
  min-height: 100vh;
  position: relative;
  padding-bottom: 80px;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  padding-top: 80px;
}

footer{
  width: 100%;
  background-color: #5D9CEC;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

footer .footer {
  background-color: #5D9CEC;
  padding: 10px 0;
}

.footer-copyright {
  color: #FFFFFF;
}

.navbar-default {
  background-color: #5D9CEC;
  border-color: #5D9CEC;
}

.my-navbar-brand {
  color: #FFFFFF !important;
  font-size: 18px;
}

.navbar-default .navbar-toggle {
  background-color: #434A54;
  border-color: #434A54;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #656D78;
  border-color: #656D78;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #656D78;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: #FFFFFF;
}

.modal-dialog-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.breadcrumb > .active {
  font-weight: bold;
}

canvas {
  width: 400px;
  height: 300px;
}
@media screen and (max-width:480px) {
  canvas {
    width: 400px;
    height: 200px;
  }
}

table {
  width: 100%;
  table-layout: fixed;
}
table td {
  overflow-wrap : break-word;
}
th.wp10 {
  width:10%;
}
th.wp20 {
  width:20%;
}
th.wp30 {
  width:30%;
}
th.wp40 {
  width:40%;
}
td.wp50, th.wp50 {
  width:50%;
}

.panel-heading {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}

.category-label {
  display: inline;
  font-size: 12px;
  font-weight: normal;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: 2px;
  border-radius: .25em;
}

.red {
  background-color: #da4453;
  border-color: #da4453;
}

.green {
  background-color: #37BC9B;
  border-color: #37BC9B;
}

.yellow {
  background-color: #F6BB42;
  border-color: #F6BB42;
}

.ml10 {
  margin-left: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.table > thead > tr > th,
.table > tbody > tr > td{
  padding-left:20px;
}

@media screen and (max-width:480px) {
  .tac-sp {
    text-align: center;
  }
}

#date {
  min-width:95%;
}